/* Panel should NOT shrink to its content */
#Panel {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

/* Search bar stays its natural height */
#SearchBar {
    flex-shrink: 0;
}

/* Force the table to take the rest of the panel space consistently */
#DatabaseTable {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;   
    min-height: 0px;  
}

.db-cell {
    color: rgba(255, 255, 255, 0.92);
    font-size: 14px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-right: 12px;
}

#DatabaseTable .unity-multi-column-header__column,
#DatabaseTable .unity-multi-column-header__column--sortable
{
    flex-direction: row-reverse;        
    align-items: center;          
    justify-content: flex-end;    
    background-color: black;   
}

#DatabaseTable .unity-multi-column-header__column__sort-indicator
{
    margin-top: 3px;
}

#DatabaseTable .unity-multi-column-header__column__sort-indicator__arrow
{
   -unity-background-image-tint-color: white;
    width: 18px;
    height: 18px;

}


